root {
    --titulo: #001e32;
    --subtitulos: #000000;
    --background1: #008CE6;
    --background2: #5AC8E6;
    --blanco: #FFFFFF;
    --negro: ##000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "myriad-pro-semi-condensed", sans-serif;
    font-weight: 400;
    font-style: bold;
}

/* ##### HEADER ##### */
.header {
    display: block;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #fff;
    transition: box-shadow 0.2s;
}

.header.fixed {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.content-header-vender {
    position: relative;
    height: 280px;
    border-radius: 10px;
    background-color: #15355b;
}

.linea-header {
    width: 85px;
    height: 2px;
    background-color: #fff;
}

.items-header {
    position: relative;
    width: 800px;
    height: 100%;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

.header-vender-usado {
    padding-right: 25px;
    padding-left: 25px;
}


/* ##### HEADER - CONTAINER ##### */

/*.menu_center*/
.menu_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.w-clearfix:before,
.w-clearfix:after */
.w-clearfix:before,
.w-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-clearfix:after {
    clear: both;
}

/* ##### HEADER - LOGO ##### */
.container_logo {
    position: relative;
    display: inline;
    width: 18%;
}



.jc_cta_logo {
    transition: opacity 0.2s;
}

.jc_cta_logo:hover {
    opacity: 0.8;
}



.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

a.arrow_slider.w-inline-block,
.arrow_slider.right {
    z-index: 1;
}

.logo {
    height: 50px;
}

/* NAVBAR */
.container_menu {
    display: inline;
    width: 67%;
}

.container_menu.var {
    display: none;
}

.contenedor.var {
    max-width: 680px;
}

.content__beneficios.var {
    padding-bottom: 40px;
}

.content__form.var {
    padding: 15px 25px 50px;
}

.row_form.var {
    padding-right: 0px;
    padding-left: 8px;
}

.enlace__mapa.var {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.text_link_menu {
    /* display: inline-block; */
    padding: 5px 20px 5px 0px;
    float: right;
    color: var(--titulo);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    /* transition: color 0.2s; */
}

.text_link_menu.w--current {
    color: #0470bb;
}

.text_link_menu:hover {
    color: #0470bb;
}

/* INFO */
.container_info {
    display: inline;
    width: 17%;
    text-align: right;
}

.cont_pbx {
    display: inline-block;
    padding-right: 10px;
    transition: opacity 0.2s;
}

.cont_pbx:hover {
    opacity: 0.8;
}

.cta_whats {
    padding: 6px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    transition: opacity 0.2s;
}

.cta_whats:hover {
    opacity: 0.8;
}

/* FILTROS */
.filter__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 5%;
    height: 40px;
    float: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #dadcdf;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: transparent;
}

.filter__button--search {
    margin-left: 1%;
}

.filter__button.active {
    background-color: #0270bb45;
}

.filter__button:hover {
    background-color: #0270bb45;
}

.filter__button.menu__open {
    display: none;
}

.filter__button#filtrar {
    display: none;
}

/* TOGGLE */
#toggle__mobile {
    display: none;
}

.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 40px;
}

.w-dropdown-toggle:focus {
    outline: 0;
}

.w-icon-dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
    width: 1em;
    height: 1em;
}

.w--nav-dropdown-toggle-open {
    display: block;
}

/* MAIN */
.main {
    display: inline-block;
    width: 100%;
    padding-top: 100px;
    overflow: hidden;
    position: relative;
}